.kutija {
    background-color: bisque;
    color: grey;
    font-size: xx-large;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    margin-inline-start: 20px;
    text-transform: uppercase;
}